@font-face {
  font-family: "mplus-1mn-thin";
  src: url("./font/mplus-1mn-thin.ttf");
}
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  text-align: center;
}

$fontSize:30vmin;

#timeFlow {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

#timerFrame {
  height: 70vmin;
  width: 100vw;
  margin: auto;
  padding: 0;
  font-family: mplus-1mn-thin;
  color: #111;
  background-color: #fff;
  font-size: $fontSize;
  overflow: hidden;
}

@keyframes Flash {
  0% {
    border-bottom: none 1px;
  }
  100% {
    border-bottom: solid 1px;
  }
}

#minuteFrame {
  text-align: right;
  height: 32vmin;
  width: 30vmin;
  margin: 15vmin 0 0 calc((100vw - 80vmin) / 2);
  padding: 0;
  float: left;
  font-size: 0;  
}
#minute {
  text-align: right;
  height: 30vmin;
  width: 30vmin;
  margin: 0;
  padding: 0;
  font-size: $fontSize;
  font-family: mplus-1mn-thin;
  outline-width: 0;
  border: none;
  opacity: 1;
}
#secondFrame {
  text-align: left;
  height: 32vmin;
  width: 30vmin;
  margin: 15vmin calc((100vw - 80vmin) / 2) 0 0 ;
  padding: 0;
  float: left;
  font-size: 0;  
}
#second {
  text-align: left;
  height: 30vmin;
  width: 30vmin;
  margin: 0;
  padding: 0;
  font-size: $fontSize;
  font-family: mplus-1mn-thin;
  outline-width: 0;
  border: none;
}
#colon {
  text-align: center;
  height: 30vmin;
  width: 20vmin;
  line-height: 80%;
  margin: 15vmin 0 0 0;
  padding: 0;
  float: left;
}

$buttonSize: 23vmin;
$buttonFontSize: 10vmin;

button {
  padding:0;
  margin: 20px 10vh;
  background-color: #fff;
  width: $buttonSize;
  height: $buttonSize;
  color: #000;
  font-size: $buttonFontSize;
  border-radius: $buttonSize;
  -webkit-border-radius: $buttonSize;
  -moz-border-radius: $buttonSize;
  outline: none;
}
.ButtonDesign{
  width:$buttonSize;
  height:$buttonSize;
}
#startButtonDesign1 {
  x:5vmin;
  y:5vmin;
  stroke: #000;
  stroke-width: 2px;
  width:3vmin;
  height:12vmin;
  fill:#fff;
}
#startButtonDesign2 {
  x:15vmin;
  y:5vmin;
  stroke: #000;
  stroke-width: 2px;
  width:3vmin;
  height:12vmin;
  fill:#fff;
}
#startButtonDesign3{
  points:5,5 10,10, 15,5;
  stroke: #000;
  stroke-width: 2px;
  width:3vmin;
  height:12vmin;
  fill:#fff;
}
#stopButtonDesign {
  x:6.5vmin;
  y:6.5vmin;
  stroke: #000;
  stroke-width: 2px;
  width:10vmin;
  height:10vmin;
  fill:#fff;
}