@font-face {
  font-family: "mplus-1mn-thin";
  src: url("./font/mplus-1mn-thin.ttf");
}
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  text-align: center;
}

#timeFlow {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

#timerFrame {
  width: 100%;
  margin: auto;
  font-family: mplus-1mn-thin;
  color: #111;
  background-color: #fff;
  font-size: 30vw;
  overflow: hidden;
}

#minute {
  text-align: right;
  width: 40%;
  margin: 0;
  padding: 0;
  float: left;
}
#minuteSelect {
  text-align: right;
  width: 30%;
  height: 45vw;
  margin: 0 0 0 10%;
  padding: 0;
  float: left;
  font-size: 30vw;
  font-family: mplus-1mn-thin;
  background-color: #fff;  
}
#minuteOptions {
  width: 30vw;
  height: 45vw;
  font-size: 30vw;
  z-index: 2;
  position: absolute;    
  left: 10%;
  overflow: auto;  
  background-color:#eee;
}
.minuteOption {     
  margin:0;  
}
#secondsSelect {
  text-align: right;
  width: 30%;
  height: 45vw;
  margin: 0 0 0 0;
  padding: 0;
  float: left;
  font-size: 30vw;
  font-family: mplus-1mn-thin;
  background-color: #fff;  
}
#secondsOptions {
  width: 30vw;
  height: 45vw;
  font-size: 30vw;
  z-index: 2;
  position: absolute;    
  right: 10%;
  overflow: auto;  
  background-color:#eee;
}
.secondsOption {     
  margin:0;  
}

#colon {
  text-align: center;
  width: 20%;
  margin: 0;
  padding: 0;
  float: left;
}

#seconds {
  text-align: left;
  width: 40%;
  margin: 0;
  padding: 0;
  float: left;
}

$size:23vh;
$fontSize:10vh;
#startButton {
  margin: 20px 10vh;
  width: $size;
  height: $size;
  color: #000;
  font-size: $fontSize;
  border-radius: $size;
  -webkit-border-radius: $size;
  -moz-border-radius: $size;
  outline: none;
}
#stopButton {
  margin: 20px 10vh;
  width: $size;
  height: $size;
  color: #000;
  font-size: $fontSize;
  border-radius: $size;
  -webkit-border-radius: $size;
  -moz-border-radius: $size;
  outline: none;
}
